<!DOCTYPE html>
<html>
    <head>
        <title>Transloc IP heatmap</title>

        <link href="../css/leaflet.css" type="text/css" rel=stylesheet>
        <link href="../css/my_custom.css" type="text/css"  rel=stylesheet>

    </head>

    <body>
        <div id="map"></div>

        <!--<script src="../js/jquery/dist/jquery.js"></script>
        <script src="../static/js/leaflet.js"></script>
        <script src="../js/leaflet-heat.js"></script>
        <script src="../js/leaflet.ajax.min.js"></script>
        <script src="../js/my_map.js"></script>-->
        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/leaflet.js') }}"></script>
        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>
        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/my_map.js') }}"></script>                

        

      </body>
</html>