<!DOCTYPE html>
<html>
    <head>
        <title>Transloc IP heatmap</title>

        <link href="{{ url_for('static', filename='css/leaflet.css') }}" type="text/css" rel=stylesheet>
        <link href="{{ url_for('static', filename='css/my_custom.css') }}" type="text/css"  rel=stylesheet>
        <link href="{{ url_for('static', filename='js/GeoObs.geojson') }}" type="text/json">

    </head>

    <body>
        <div id="map"></div>


        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/jquery/dist/jquery.js') }}"></script>
        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/leaflet.js') }}"></script>
        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/leaflet-heat.js') }}"></script>
        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/leaflet.ajax.min.js') }}"></script>
        <script type = "text/javascript"
                src = "{{ url_for('static', filename='js/my_map.js') }}"></script>                

        <script>
        $.getJSON("{{ url_for(GeoObs.geojson)}}",function(data){
            var locations = data.features.map(function(rat){
                var location = rat.geometry.coordinates;
                location.push(0.5);
                return location;
            });

            var heat = L.heatLayer(locations, {radius: 35}).addTo(map);
            heat.addTo(map)

        });
        </script>
        
      </body>
</html>